<header class="top-header">
  <nav>
    <ul>
      <li><a routerLink="route-1" routerLinkActive="active">Route 1</a></li>
      <li><a routerLink="route-2" routerLinkActive="active">Route 2</a></li>
      <li><a routerLink="route-3" routerLinkActive="active">Route 3</a></li>
      <li><a routerLink="route-4" routerLinkActive="active">Route 4</a></li>
      <li><a routerLink="route-5" routerLinkActive="active">Route 5</a></li>
      <li><a routerLink="route-6" routerLinkActive="active">Route 6</a></li>
    </ul>
  </nav>
</header>
